tmp*/
temp/
.env*
.DS_Store
expmt/
service_account.json
__pycache__/
._*
anu.html
*.log
.pytest_cach
anon*
config.json
config-*.json
config.yaml
config-*.yaml
logs/*
local_archive/
vk_config*.json
gd-token.json
credentials.json
secrets/*
browsertrix/*
browsertrix-tmp/*
instaloader/*
instaloader.session
orchestration.yaml
auto_archiver.egg-info*
logs*
*.csv